In [1]:
import pandas as pd

In [2]:
data_true = pd.read_csv('submission_true.csv', index_col=0)
data_current = pd.read_csv('submission.csv', index_col=0)
test_df = pd.read_csv('../data/test_AIC.csv')
train_df = pd.read_csv('../data/train_AIC.csv')
preds = pd.read_csv('submission_error_nobalance.csv')
train_df = train_df.iloc[preds.index, :]
train_df = train_df[train_df['y'] != preds['value']]
train_df.to_csv('train_erros.csv')

In [3]:
data_true['equal'] = data_true['value'] == data_current['value']

In [4]:
diff_index = data_true[data_true['equal'] == 0]
diff_index.shape[0]

424

In [7]:
diff_index

       value  equal
id
41         0  False
175        0  False
284        1  False
365        0  False
504        0  False
...      ...    ...
24603      0  False
24625      1  False
24711      1  False
24795      0  False
24821      1  False

[424 rows x 2 columns]

In [5]:
diff_test = test_df.iloc[diff_index.index, :]

In [6]:
diff_test['Количество изменений после согласований'].describe()

count    424.000000
mean      13.608491
std       13.405744
min        0.000000
25%        0.000000
50%       13.000000
75%       20.000000
max      101.000000
Name: Количество изменений после согласований, dtype: float64